* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    background: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}

main {
    width: 20%;
    padding: 1rem;
    margin-top: 10rem;
    background: var(--White);
    border-radius: 1rem;
}

img {
    width: 100%;
    border-radius: 1rem;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 20px;
    margin: 1rem auto;
    color: var(--Dark-blue);
}

.header p {
    font-size: 15px;
    color: var(--Grayish-blue);
}

footer {
    margin: 1rem;
}

@media (max-width: 820px) {
    main {
        width: 90%;
    }
}